"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[templates]
git_push_bookmark = '"anton/" ++ change_id.short()'

[aliases]
lint = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  """
set -euo pipefail
if [ -d script ]; then
  DIR=script
elif [ -d scripts ]; then
  DIR=scripts
else
  echo "Neither 'script' nor 'scripts' directory exists." >&2
  exit 1
fi

"$DIR"/commitlint -v --from origin/main --to $(jj log -r @ -T 'commit_id' --no-graph)
""",
  "",
]

rebase-all = ["rebase", "-s", "roots(trunk()..mutable())", "-d", "trunk()"]

[user]
name = "Anton"
email = "70934030+friendlyantz@users.noreply.github.com"

[ui]
default-command = "log"
merge-editor = "code --wait --merge $left $right $base $output"

# paginate = "never"
pager = "delta"
diff-formatter = ":git"

[merge-tools.delta]
diff-args = ["--color-only", "$left", "$right"]


[signing]
behavior = "own"
backend = "gpg"
